<div id='container' ng-controller="LinksController">
  <!-- Your html here -->
  <h1>Links</h1>
  <div class = 'linkFilter'>
    <br>
    <input ng-model='filterUrl' placeholder="Filter" />
    <br>
  </div>
  <div class = 'link' ng-repeat="link in data.links | orderBy:'-visits' | filter: filterUrl;">
    <img src='/assets/redirect_icon.png'/>
    <div class='visits'><span class='count'>{{link.visits}}</span> Visits</div>
    <div class='title'>{{link.title}}</div>
    <a class='original' href='{{link.base_url}}/{{link.code}}'>{{ link.base_url}}/{{link.code}}</a>
  </div>
</div>
