<div id="listingsTable" class="container" ng-controller='ListingsController'>
  <div class="heading"><h1>Marketplace</h1></div>
  <br>
  <h3>Current Listings</h3>
  <table class="table table-hover">
    <thead>
      <tr>
        <th>Image</th>
        <th>Title</th>
        <th>Description</th>
        <th>Price</th>
        <th>Front Wheel</th>
        <th>Rear Wheel</th>
        <th>Bolt Pattern</th>
        <th>Remove</th>
      </tr>
    </thead>

    <tbody>
      <tr ng-repeat='listing in listing.listings' />
        <td><a href="/img/uploads/default.jpg" target="_blank"><img src="/img/uploads/default.jpg" width="100"></a></td>
        <td>{{ listing.title }}</td>
        <td>{{ listing.description }}</td>
        <td>${{ listing.price }}</td>
        <td>{{ listing.wheel_specs.frontdiameter }}x{{ listing.wheel_specs.frontwidth }} {{ listing.wheel_specs.frontoffset }}</td>
        <td>{{ listing.wheel_specs.reardiameter }}x{{ listing.wheel_specs.rearwidth }} {{ listing.wheel_specs.rearoffset }}</td>
        <td>{{ listing.wheel_specs.boltpattern }}</td>
        <td><button class="btn btn-danger" type="submit" ng-click="removeListing(listing)" value="Save" />Delete</button></td>
      </tr>
    </tbody>
  </table>

</div>
</div>






