<div id='container' ng-controller='CreateListingsController'>
  <h1>Post New Listing</h1>

<div class="row">
  <div class="col-sm-6">
    <form novalidate class="simple-form">
      <div class="form-group">
        <label for="title">Title: </label>
        <input class="form-control" type="text" ng-model="listingTitle" />
      </div>
      <div class="form-group">
        <label for="title">Price: </label>
        <input class="form-control" type="text" ng-model="listingPrice" />
      </div>
      <div class="form-group">
        <label for="comment">Description: </label>
        <textarea class="form-control" rows="5" ng-model="listingDescription" ></textarea>
      </div>
      <div class="form-group">
        <label for="title">Front Diameter: </label>
        <select class="form-control" ng-model="frontDiameter">
          <option value="" selected="selected">------</option>
          <option ng-repeat="diameter in diameters" ng-value="diameter">{{ diameter }}</option>
        </select>
      </div>
      <div class="form-group">
        <label for="title">Rear Diameter: </label>
        <select class="form-control" ng-model="rearDiameter">
          <option value="" selected="selected">------</option>
          <option ng-repeat="diameter in diameters" ng-value="diameter">{{ diameter }}</option>
        </select>
      </div>
      <div class="form-group">
        <label for="title">Front Offset: </label>
        <select class="form-control" ng-model="frontOffset">
          <option value="" selected="selected">------</option>
          <option ng-repeat="offset in offsets" ng-value="offset">{{ offset }}</option>
        </select>
      </div>
      <div class="form-group">
        <label for="title">Rear Offset: </label>
        <select class="form-control" ng-model="rearOffset">
          <option value="" selected="selected">------</option>
          <option ng-repeat="offset in offsets" ng-value="offset">{{ offset }}</option>
        </select>
      </div>
      <div class="form-group">
        <label for="title">Front Width: </label>
        <select class="form-control" ng-model="frontWidth">
          <option value="" selected="selected">------</option>
          <option ng-repeat="width in widths" ng-value="width">{{ width }}</option>
        </select>
      </div>
      <div class="form-group">
        <label for="title">Rear Width: </label>
        <select class="form-control" ng-model="rearWidth">
          <option value="" selected="selected">------</option>
          <option ng-repeat="width in widths" ng-value="width">{{ width }}</option>
        </select>
      </div>
      <div class="form-group">
        <label for="boltPattern">Bolt Pattern: </label>
          <select class="form-control" name="boltPattern" ng-model="boltPattern" />
            <option value="" selected="selected">------</option>
            <option value="4x100">4x100</option>
            <option value="4x114.3">4x114.3</option>
            <option value="5x100">5x100</option>
            <option value="5x108">5x108</option>
            <option value="5x112">5x112</option>
            <option value="5x114.3">5x114.3</option>
            <option value="5x120">5x120</option>
            <option value="5x120.65">5x120.65</option>
            <option value="5x130">5x130</option>
          </select>
      </div>

      <button class="btn btn-primary" type="submit" ng-click="submitListing()" value="Save" />Create New Listing</button>
    </form>

  </div>
  <div class="col-sm-6"></div>
</div>

 
<script type="text/javascript">
  $(document).ready(function() {
    $(function(){
    var $select = $(".1-100");
    for (i=1;i<=100;i++){
        $select.append($('<option></option>').val(i).html(i))
    }
});​
    }
  });
</script> 


</div>







